.stepper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    margin: 15px 0;
  }
  
  .stepper__step {
    width: 60px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  
  .stepper__step:after {
    content: "";
    background: #dedede;
    width: 30px;
    height: 2px;
    position: absolute;
    right: 75%;
    top: 15px;
    bottom: 0;
  }
  
  .stepper__step:first-child:after {
    display: none;
  }
  
  .stepper__step__index {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #dedede;
    color: #999;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .stepper__step--done .stepper__step__index {
    background: #b71414;
    color: #fff;
  }
  
  .stepper__step--current .stepper__step__index {
    background: #0047FD;
    color: #fff;
  }
  
  .stepper__step--done:after {
    background: #b71414;
  }
  
  .stepper__step--current:after {
    background: #f54141;
  }
  
  .stepper__step__label {
    color: #999;
    font-size: 11px;
  }
  
  .stepper__step--done .stepper__step__label {
    color: #0047FD;
  }
  
  .stepper__step--current .stepper__step__label {
    color: #0047FD;
    font-size: 11px;
  }