.sidebar {
    font-family: sans-serif;
    min-height: 130vh;
    transition: 0.5s ease;
    cursor: pointer;
    width: 300px;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #0047FD;
}

.sidebar-logo-container {
    display: 'flex';
    align-items: center;
}
.sidebar-logo-container img {
    width: 10%;
    padding: 2em;
}
.sidebar-container {
    flex: 1;
    display: flex;;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar-items {
    height: 100%;
    width: 100%;
    padding-top: 2rem;
}

.sidebar-item {
    padding: 1.2em 2.8em;
    display: flex;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.sidebar-item:hover {
    /* background-color: #004B77; */
    color: #FDC300;
}
.sidebar-item-active {
    padding: 10px 20px;
    margin: 5px 0px 5px 15px;
    display: flex;
    color: #0047FD;
    list-style: none;
    border-radius: 50px 0px 0px 50px;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
    background-color: #FFFFFF;
    cursor: pointer;
}
.sidebar-item-active::after{
    border: 4px solid red;
}
.sidebar-item-active:hover{
    color: #FFFFFF;
}
.sidebar-item-icon {
    width: 20px;
}
.sidebar-item-label {
    font-size: 12px;
    font-weight: 600;
    margin-left: 18px;
    margin-right: 30px;
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-list-active {
    display: flex;
    color: #FDC300;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    line-height: 0;
}
.sidebar-list {
    padding: 1.2em;
    display: flex;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.icon-right{
    width: 10px;
    float: right;
    right: 0;
    color: #FFFFFF !important;
}
/* Footer */
.sidebar-footer {
    padding: 1.5em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}