.table>thead {
    vertical-align: bottom;
    font-size: 13px;
    font-weight: 700;
}
.table>tbody {
    vertical-align: inherit;
    font-size: 12px;
    font-weight: 600;
}
.table-bordered>:not(caption)>*>* {
    border: none;
}
.table>:not(caption)>*>* {
    padding: 1rem 0.6rem !important;
}
.action-btn{
    display: flex;
}
.action-btn .btn-action{
    padding: 5px;
    width: 25px;
    margin-right: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}
.action-btn .btn-action:hover{
    color: #ffffff;
}