.wrapper-tab{
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tab-order{
    position: relative;
    display: flex;
    flex-direction: row;
}
.tab-order div{
    margin: 15px 15px 10px 0;
    cursor: pointer;
}

.tab-order-active{
    font-weight: 600;
    font-size: 13px;
    padding-bottom: 4px;
    border-bottom: 2px solid #0047FD;
}

.tab-order-nonactive{
    font-weight: 600;
    font-size: 13px;
    color: #bbb;
}

.tab-filter .form-rang{
    position: relative;
    display: flex;
    flex-direction: row;
}
.tab-filter .form-rang input{ 
    margin: 0 10px;
}

.form-control{
    font-size: 12px !important;
}